image:
  repository: fiware/iotagent-lorawan
  tag: 1.2.5
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 4061

orion:
  host: "orion"
  port: 1026
  ngsiVersion: "v2" # o "ld" se usi Scorpio/Orion-LD

mongo:
  host: "mongodb"
  port: 27017
  db: "iotagent_lorawan"

mqtt:
  host: "mosquitto.chirpstack.svc.cluster.local"
  port: 1883
  username: "" 
  password: ""

agent:
  logLevel: "DEBUG"
  # URL con cui Orion contatta l'Agent (il nome del servizio K8s)
  providerUrl: "http://iotagent-lorawan:4061" 
  defaultResource: "/iot/d"

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi